# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Mac
.DS_Store